/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

/*-----------------------------------*/
/*----- SYNTAX HIGHLIGHTING THEMES --*/

// @import "minima/fastpages-dracula-highlight";
// @import "minima/pygments";
// @import "minima/monokai";
@import "minima/custom-highlight";

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_I.otf"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_DR.otf"); font-weight: 300; font-style: normal; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_R.otf"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_RI.otf"); font-weight: 400; font-style: italic; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_RZ.otf"); font-weight: 600; font-style: normal; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_RZI.otf"); font-weight: 600; font-style: italic; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_RB.otf"); font-weight: 700; font-style: normal; }
@font-face { font-family: "Libertine"; src: url("../../assets/fonts/linux_libertine/LinLibertine_RBI.otf"); font-weight: 700; font-style: italic; }

// @font-face { font-family: "Biolinum"; src: url("../../assets/fonts/linux_biolinum/LinBiolinum_R.otf"); font-weight: 400; font-style: normal; }
// @font-face { font-family: "Biolinum"; src: url("../../assets/fonts/linux_biolinum/LinBiolinum_RI.otf"); font-weight: 400; font-style: italic; }
// @font-face { font-family: "Biolinum"; src: url("../../assets/fonts/linux_biolinum/LinBiolinum_RB.otf"); font-weight: 700; font-style: normal; }


article.post, .footer-col-wrapper {
    max-width: 100vw !important;
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
}

.rendered_html p {
    font-size: 1.4rem !important;
    color: #191919 !important;
}

.text_cell, .post-title, .site-title, h3, .page-description {
    font-family: "Libertine" !important;
}

.site-title { float: unset; }

.site-header .wrapper {
    text-align: center !important;
}

.text_cell_render, .output, .post-header {
    max-width: 940px !important;
    margin-left: 60px;
}

.output_png img {
    width: auto !important;
    height: auto !important;
    max-width: 800px;
    margin: 0;
}

pre {
    line-height: 1rem;
    // font-size: 0.7rem !important;
    // border-left: 15px solid lightsteelblue;
    // padding-left: 45px;
}

pre, .footer-col-wrapper {
    padding-left: 60px;

}

// .code_cell, pre {
//     margin-top: 0.5rem !important;
//     margin-bottom: 0.5rem !important;
// }

.output pre {
    background-color: inherit !important;
    border: none;
    border-left: 3px solid lightgray;
    padding-left: 15px;
}

.katex {                font-size: 1.3rem !important; } // inline
.katex-display .katex { font-size: 1.4rem !important; } // equations

table.dataframe th, table.dataframe td {
    padding: 3px 10px !important;
}

// table.dataframe tbody th {
//     text-align: left;
// }

table.dataframe {
    width: auto !important;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 1px;
}

table.dataframe + p {
    margin-top: 0 !important;
    font-size: 0.7rem !important;
}

h1.post-title {
    font-size: 3rem !important;
    margin: 0 !important;
}

.post-meta-title {
    margin-top: 0 !important;
}

.flash {
    border: none !important;
    font-size: 1.2rem !important;
    background-color: #fffbe7 !important;
}

.octicon-info {
    display: none !important;
}

.post-content p, .post-content li {
    color: #24292e !important;
}

.collapsed + .output_wrapper  {
    margin-top: 1.5rem !important;
}

code {
    padding: 0 !important;
}

/*-----------------------------------*/
/*----- COLLAPSE --------------------*/

.collapsible {
    position: relative;
}

.collapsed {
    height: 1.6rem;
    overflow-y: hidden;
}

.collapse-button {
    position: absolute;
    top: 0.21rem;
    left: 0;
    font-size: 1.2rem;
    width: 60px;
    text-align: center
}

.collapsed > .collapse-button {
    background: rgb(224,224,224);
    background: linear-gradient(90deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
}

.collapse-button > i { color: #b7b7b7; }
.collapse-button > i:hover { color:#1f1f1f; }

